.theme.js-themeToggle
button(type="button").lang RU
.dropdown.js-dropdown(data-device="mobile")
    button(type="button").dropdown-btn.js-dropdownBtn Загрузка
    ul.dropdown-list.js-dropdownList
        li.dropdown-item 
            a(href="#") Презентация
        li.dropdown-item 
            a(href="#") Roadmap
        li.dropdown-item 
            a(href="#") White Label

