block variables
    - var title = 'Riwatex'
    - var page = 'index'
    
doctype html
html(lang='ru')
    head
        include html/head
    body.body
        .wrapper
            header.header 
                include html/header
            main.main.inner
                include html/main
            footer.footer
                include html/footer